/*
## Headings and paragraphs
```
<div>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ul>
</div>

```
*/

@font-face {
    font-family: 'MinionProRegular';
    src: url('../fonts/minionpro-regular.eot');
    src: url('../fonts/minionpro-regular.eot') format('embedded-opentype'),
         url('../fonts/minionpro-regular.woff') format('woff'),
         url('../fonts/minionpro-regular.ttf') format('truetype'),
         url('../fonts/minionpro-regular.svg#MinionProRegular') format('svg');
}

@font-face {
	font-family: "sp-locadora";
	src:url("../fonts/sp-locadora.eot");
	src:url("../fonts/sp-locadora.eot?#iefix") format("embedded-opentype"),
		url("../fonts/sp-locadora.woff") format("woff"),
		url("../fonts/sp-locadora.ttf") format("truetype"),
		url("../fonts/sp-locadora.svg#sp-locadora") format("svg");
	font-weight: normal;
	font-style: normal;

}

[data-icon]:before {
	font-family: "sp-locadora" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "sp-locadora" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
	content: "a";
}
.icon-chat:before {
	content: "b";
}
.icon-close:before {
	content: "c";
}
.icon-cone:before {
	content: "d";
}
.icon-doc:before {
	content: "e";
}
.icon-facebook:before {
	content: "f";
}
.icon-hamburger:before {
	content: "g";
}
.icon-home:before {
	content: "h";
}
.icon-info:before {
	content: "i";
}
.icon-lock:before {
	content: "j";
}
.icon-mail:before {
	content: "k";
}
.icon-next:before {
	content: "l";
}
.icon-paper:before {
	content: "m";
}
.icon-phone:before {
	content: "n";
}
.icon-pin:before {
	content: "o";
}
.icon-prev:before {
	content: "p";
}
.icon-search:before {
	content: "q";
}
.icon-search-toright:before {
	content: "r";
}
.icon-tractor:before {
	content: "s";
}
.icon-twitter:before {
	content: "t";
}
.icon-wrench:before {
	content: "u";
}
.icon-feed:before {
	content: "v";
}
.icon-plus:before {
	content: "w";
}
.icon-question:before {
	content: "x";
}
.icon-instagram:before {
	content: "y";
}
.icon-calendar:before {
	content: "z";
}


* {
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

h1, h2, h3,
h4, h5, h6{
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
}

.button {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 900;
	padding-left: rem-calc(48);
	padding-right: rem-calc(48);
	&.tiny {
		padding-left: rem-calc(26);
		padding-right: rem-calc(26);
	}
	&.button-icon {
		padding: 0 rem-calc(26);
		line-height: 1.8;
		i[class^="icon-"] {
			font-size: 1rem;
			margin-left: 0.4rem;
			vertical-align: middle;
		}
	}
}

.primary {
	color: $primary-color;
}

.uppercase {
	text-transform: uppercase;
}

.row, .column, .wrapper {
	-webkit-transition: max-width .2s ease-out 1s;
	-moz-transition: max-width .2s ease-out 1s;
	-o-transition: max-width .2s ease-out 1s;
	transition: max-width .2s ease-out 1s;
}

.vcard {
	display: block;
	border: none;
	padding: 0;
	margin: 1rem 0 0;
	color: #333;
	p {
		line-height: 1;
		font-size: 0.875rem;
	}
}

* {
	fieldset {
		margin: 0;
		border-bottom-width: 0;
		border-right-width: 0;
		border-left-width: 0;
		legend {
			font-family: "Roboto Condensed", sans-serif;
			text-transform: uppercase;
			background: transparent;
			text-align: center;
			color: #333;
		}
	}

	.twitterWrapper {
		border-top: 1px solid scale-color($secondary-body-bg, $lightness: -10%);
		border-bottom: 1px solid scale-color($secondary-body-bg, $lightness: -10%);
		padding: 1.125rem 0.75rem;
		margin-bottom: 1rem;
		font-family: "MinionProRegular";
		text-align: center;
		line-height: 1.5;
		color: #333;
		a:link,
		a:visited {
			color: #16aae2;
		}
		&::before {
			display: block;
			font-size: 2.275rem;
			margin-bottom: 1rem;
			color: #16aae2;
		}
		~ .twitterFollow {
			text-align: center;
			padding-bottom: 1rem;
			border-bottom: 1px solid scale-color($secondary-body-bg, $lightness: -10%);
		}
	}

	div[role="megaMenu"] {
		display: none;
		position: absolute;
		z-index: 1;
		min-height: 37.75rem;
		width: 100%;
		right: 0;
		left: 0;
		margin-top: 1px;
		background: scale-color($primary-color, $alpha: -8%);
		box-shadow: 0 0 320px 160px #f47c20 inset;
		// @media #{$small-only} {
		// 	display: none !important;
		// 	visibility: hidden;
		// }
		h3 {
			color: #FFF;
			line-height: 5.5rem;
			&::before {
				font-size: 5.5rem;
				padding-right: 1rem;
				vertical-align: middle;
				color: scale-color($primary-color, $lightness: -20%);
			}
		}
		h5 {
			color: #FFF;
			letter-spacing: -1px;
			margin: 2.175rem 0 1rem;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				line-height: 1.125;
				a:link,
				a:visited {
					color: scale-color($primary-color, $lightness: -35%);
					font-size: 0.875rem;
				}
			}
		}
	}
}

#orcamento-rapido {
	border: 1px solid $primary-color;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 2rem;
	#titulo {
		background: $primary-color;
		margin-bottom: 1rem;
		padding: 0 0.5rem;
		line-height: 3;
		color: #FFF;
		p {
			display: inline;
		}
	}
	#bts-conclusao {
		background: $primary-color;
		padding: 0 0.5rem;
		line-height: 3;
		a {
			margin: 0;
		}
	}
}
#orcamento-rapido, #orcamento {
	#produtos {
		padding: 0 0.5rem;
		margin-bottom: 1rem;
		.item {
			padding: 0.5rem 0;
			border-bottom: 1px dotted scale-color($body-font-color, $lightness: 75%);
			.controls {
				a[class^="icon-"] {
					&:before {
						font-size: 1rem;
						vertical-align: middle;
						color: $secondary-color;
					}
				}
				input.quantity {
					display: inline;
					margin: 0;
					width: 3rem;
					padding: 0 0 0 0.25rem;
				}
			}
		}
	}
}

header {
	div.topbar {
		height: 2.125rem;
		background: $secondary-body-bg;
		color: #333;
		font-weight: bold;
		text-transform: uppercase;
		a:link,
		a:visited {
			color: #333;
			font-size: .5625rem;
		}
		ul {
			margin-bottom: 0;
			li {
				font-size: .6725rem;
				line-height: 2.125rem;
				span {
					display: inline-block;
					color: $primary-color;
					text-transform: none;
					letter-spacing: -1px;
				}
			}
		}
	}

	div.mainbar {
		height: 6.875rem;
		background: $secondary-color;
		h1.logo {
			width: 10.5rem;
			height: 4.25rem;
			background: transparent url("../images/logo_saopaulolocadora_sprite.png") no-repeat;
			background-position: 0px -64px;
			background-size: cover;
			margin: .75rem 0;
			font-size: 0/0 a;
			color: transparent;
			text-indent: -6249rem;
			
			@media #{$medium-up} {
				width: 215px;
				height: 85px;
				background-position: 0px -80px;
			}
		}
		span {
			line-height: 6.875rem;
			color: $primary-color;
			font-style: italic;
			font-weight: bold;
			em {
				color: scale-color(#FFF, $lightness: -30%);
			}
		}
		.icon-bar {
			background: transparent;
			.item {
				padding-top: 2.25rem;
				min-height: 6.875rem;
				transition: all 200ms ease-in 200ms;
				label {
					font-size: .625rem;
					text-transform: uppercase;
					font-weight: bold;
					color: scale-color(#FFF, $lightness: -30%);
				}
				a:link[class^="icon-"],
				a:visited[class^="icon-"] {
					color: scale-color($secondary-color, $lightness: -30%);
					font-size: 2rem;
					&::before{
						transition: all 400ms ease-out;
					}
				}
				a:hover {
					&::before{
						color: scale-color(#FFF, $lightness: -30%);
					}
				}
				&:hover {
					background: scale-color($secondary-color, $lightness: -8%);
				}
			}
		}
		&.internas {
			background: $primary-color;
			h1.logo {
				background-position: 0 0.5rem;
			}
			~ div[role="megaMenu"] {
				margin-top: 3.75rem;
			}
			div.navbar {
				height: 6.875rem;
				li {
					line-height: 6.875rem;
				}
			}

			@media #{$small-only} {
				background: $secondary-color;
				h1.logo {
					background-position: 0 -4rem;
				}
			}
		}
	}

	div.navbar {
		height: 5.25rem;
		background: $primary-color;
		nav {
			display: inline-block;
			ul {
				display: block;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					list-style-type: none;
					line-height: 4.8125rem;
					padding-right: 1.6rem;
					vertical-align: middle;
					&:last-child {
						padding-right: 0;
						vertical-align: -moz-middle-with-baseline;
					}
					&:first-of-type {
						a {
							font-size: 1.875rem;
							line-height: 1rem;
							&::after {
								content: "";
								display: inline-block;
								position: relative;
								width: 0;
								height: 0;
								border-top: 6px solid white;
								border-right: 6px solid transparent;
								border-bottom: 6px solid transparent;
								border-left: 6px solid transparent;
								vertical-align: middle;
								margin-left: 0.6rem;
								transition: all 250ms ease-out 100ms;
							}
							&.open {
								&::after {
									border-top: 6px solid transparent;
									border-bottom: 6px solid white;
									margin-top: -6px;
									backface-visibility: hidden;
								}
							}
						}
					}
					a:link,
					a:visited {
						color: white;
						font-weight: bold;
						text-transform: uppercase;
						font-family: "Roboto Condensed", sans-serif;
					}
					input[type="text"] {
						min-width: 17.5rem;
						background: transparent;
						border: 2px solid #fbb04b;
						box-shadow: none;
						color: $secondary-color;
						opacity: 0.7;
						&:focus{
							opacity: 1;
							box-shadow: 0 0 8px 2px rgba(251,176,75,.5);
							background: rgba(251,176,75,.25);
						}
						&::-webkit-input-placeholder {
							color: #fbb04b;
						}
						&::-moz-placeholder {
							color: #fbb04b;
						}
						&::-ms-input-placeholder {
							color: #fbb04b;
						}
					}
				}
			}
		}
	}
}

section[role="banner"] {
	min-height: 37.75rem;
	.orbit-container {
		.orbit-bullets {
			display: none;
		}
		.orbit-prev,
		.orbit-next {
			display: none;
		}
		.orbit-slides-container {
			li {
				min-height: 37.75rem;
				background-position: 50%;
				.orbit-caption {
					position: absolute;
					top: 40%;
					right: 6%;
					margin-top: -8rem;
					height: 16rem;
					width: 40%;
					background-color: transparent;
					color: #fff;
					h2 {
						color: #FFF;
						text-transform: uppercase;
						font-size: 7.5rem;
						line-height: 0.8;
						word-break: break-word;
						small {
							display: inline-block;
							line-height: 1;
							font-size: 50%;
							color: $secondary-body-bg;
						}
					}
				}
			}
		}
	}
	@media #{$small-only} {
		min-height: 26.25rem;
		.orbit-container {
			.orbit-bullets {
				display: block;
				position: relative;
				margin-top: -2.5rem;
				background: transparent;
			}
			.orbit-slides-container {
				li {
					min-height: 26.25rem;
					.orbit-caption {
						margin: auto;
						height: 40%;
						width: 74%;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						h2 {
							color: #FFF;
							text-transform: uppercase;
							font-size: 5vh;
							line-height: 0.4;
							word-break: break-word;
							small {
								display: inline-block;
								line-height: 1;
								font-size: 50%;
								color: $secondary-body-bg;
							}
						}
					}
				}
			}
		}
	}
}

section[role="fixednav"] {
	min-height: 3.75rem;
	div[data-magellan-expedition-clone] {
		visibility: hidden;
		display: none;
	}
	div[data-magellan-expedition] {
		padding: 0;
		position: relative;
		box-shadow: 0 12px 8px -8px rgba(0,0,0,.12);
		ul {
			li {
				background: $secondary-body-bg;
				line-height: 3.75rem;
				position: relative;
				font-weight: bold;
				font-size: 1.8rem;
				margin: 0 1px 0 0;
				a[class^="icon-"] {
					vertical-align: middle;
				}
				&.open,
				&.active {
					background: $primary-color;
					a:link,
					a:visited {
						background: transparent;
						cursor: pointer;
						&::before {
							color: #fff;
						}
					}
				}
				&.disabled {
					background: scale-color($secondary-body-bg, $lightness: 45%);
					box-shadow: 0 0 16px -2px rgba(0,0,0,0.1) inset;
					a {
						cursor: not-allowed;
						&::before {
							color: #ddd;
							text-shadow: 1px 1px white;
						}
					}
				}
			}
		}
		div.budget {
			border: 1px solid $primary-color;
			border-radius: 0 0 6px 6px;
			position: absolute;
			margin-right: -1px;
			margin-top: .5rem;
			background: #fff;
			width: 20.75rem;
			display: none;
			box-shadow: 2px 4px 6px rgba(0,0,0,.2);
			&::before {
				top: -1px;
				right: -1px;
				content: "";
				height: 1rem;
				display: block;
				width: 3.75rem;
				margin-top: -.5rem;
				position: absolute;
				background: $primary-color;
			}
			table {
				border-color: transparent;
				border-width: 0;
				thead {
					background: $primary-color;
					h6 {
						color: #fff;
					}
				}
			}
		}
		div[role="megaMenu"] {
			min-height: 0;
			div[role="siteMap"] {
				margin-bottom:3rem;
				padding: 0;
				div.columns {
					nav {
						margin: 0;
						padding: 0;
						ul {
							list-style-type: none;
							li {
								border: 0 none;
								line-height: 0.75rem;
								background: transparent;
								margin-bottom: 0.6875rem;
								h5 {
									a:link,
									a:visited {
										color: #fff;
										font-size: 100%;
									}
								}
								a:link,
								a:visited {
									font-weight: 400;
									font-size: 0.75rem;
									color: scale-color($primary-color, $lightness: -45%);
									transition: all 200ms ease-out;
								}
								a:hover {
									color: $secondary-body-bg;
								}
							}
						}
					}
				}
			}
		}
	}
	@media #{$small-only} {
		min-height: 0;
		div[data-magellan-expedition] {
			ul {
				li {
					line-height: 2.875rem;
					font-size: 1rem;
				}
			}
		}
	}
}

section[role="breadcrumb"] {
	min-height: 2.25rem;
	// margin-bottom: 2rem;
	background: $secondary-color;
	box-shadow: 0 2px 12px -4px rgba(0,0,0,0.2) inset;
	ul {
		margin: 0;
		line-height: 2.25rem;
		li {
			margin-bottom: 0;
			&:first-child {
				margin: 0;
				a:link,
				a:visited {
					color: #fff;
				}
			}
			&::after {
				color: #fff;
				content: "l";
				font-size: 0.5rem;
				font-family: "sp-locadora";
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
}

div#content {
	.page-header {
		margin-bottom: 2rem;
		h2 {
			text-transform: uppercase;
			p {
				color: scale-color($body-font-color, $lightness: 50%);
				text-transform: none;
				font-weight: 400;
			}
		}
	}

	article[role="postContent"] {
		text-align: justify;
	}

	article[role="newsContent"] {
		background: scale-color($secondary-body-bg, $lightness: 5%);
		margin-bottom: 2rem;
		em#authorInfo {
			line-height: 1;
			letter-spacing: 0;
			margin: 1rem 0;
			font-size: 0.8125rem;
			display: inline-block;
			color: scale-color($body-font-color, $lightness: 50%);
			@media #{$medium-up} {
				display: block;
				line-height: 4;
				margin-top: 0.5rem;
				margin-bottom: 0;
				letter-spacing: 1px;
				border-top: 1px dotted #ddd;
			}
 		}
	}

	article[role="prodContent"] {
		h2 {
			.lead {
				color: $body-font-color;
			}
		}
		input[type="number"] {
			margin-top: 2rem;
			height: 1.8rem;
			font-size: 0.75rem;
			padding: 0 0.75rem;
		}
		.orbit-container {
			@media #{$small-only} {
				.orbit-bullets {
					display: inline-block;
				}
			}
			@media #{$medium-up} {
				margin-bottom: 2rem;
				padding-bottom: 1rem;
				border-bottom: 1px solid scale-color($body-font-color, $lightness: 75%);
				.orbit-bullets {
					display: none;
				}
			}
		}

		a[data-orbit-link] {
			display: inline-block;
			position: relative;
			border: 2px solid $secondary-color;
			opacity: 0.8;
			transition: all 200ms ease-out;
			&.active,
			&:hover {
				opacity: 1;
				border-color: $primary-color;
			}
			&:after {
				content: "r";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				color: white;
				font-size: 6rem;
				text-align: center;
				line-height: 150px;
				font-family: sp-locadora;
				transition: all 200ms ease-out 150ms;
				background: $primary-color;
				opacity: 0;
			}
			&:hover {
				&:after {
					opacity: 0.7;	
				}
			}
			~p {
				line-height: 1;
				margin: 1rem 0;
			}
		}

		.panel-data {
			div {
				white-space: pre-wrap;
				font-size: 14px;
				line-height: 1.25;
				margin-top: 1rem;
				padding-top: 1rem;
				border-top: 1px solid scale-color($body-font-color, $lightness: 75%);
			}
		}
	}

	article[role="budgetContent"] {
		#full-product-list {
			#products-field {
				a[class*="icon-"] {
					padding: 0;
					font-size: 1rem;
					line-height: 2.5;
					box-shadow: 4px 0 8px rgba(0,0,0,0.2) inset;
				}
				.autocomplete {
					.tt-dropdown-menu {
						min-width: 32rem;
						div {
							background: $secondary-body-bg;
							border: 1px solid #DDD;
							display: block;
						}
					}
				}
			}
		}
		#locationPeriod {
			a[class*="icon-"] {
				padding: 0;
				font-size: 1rem;
				line-height: 2.5;
			}
		}
	}

	aside[role="sideBar"] {
		ul {
			padding: 0;
			margin: 0;
			li {
				margin: 0;
				a[class*="icon-"]:link,
				a[class*="icon-"]:visited {
					margin: 0;
					min-height: 5rem;
					color: $secondary-color;
					text-transform: uppercase;
					padding: 1rem 0.325rem 1rem 5rem;
					transition: all 200ms ease-out 100ms;
					font-family: "Roboto Condensed", sans-serif;
					border-bottom: 0.25rem solid rgba(255,255,255,.0);
					background: scale-color($secondary-body-bg, $lightness: -5%);
					&::before {
						position: absolute;
						left: 1rem;
						top: 0;
						bottom: 0;
						margin: auto;
						line-height: 5rem;
						font-size: 2.875rem;
						vertical-align: middle;
						color: scale-color($secondary-body-bg, $lightness: -20%);
					}
				}
				a[class*="icon-"]:hover {
					border-bottom: 0.25rem solid rgba(255,255,255,.15);
					background: $secondary-color;
					color: #FFF;
					&::before {
						color: #FFF;
					}
				}
			}
		}
	}

	section {
		margin-bottom: 4rem;
	}

	section[role="news"] {
		padding: 2rem 0;
		background: $secondary-body-bg;
		min-height: 30rem;
		span.date {
			display: block;
			padding-top: 2rem;
			font-style: italic;
			text-transform: uppercase;
			color: scale-color($secondary-body-bg, $lightness: -20%);
			border-top: 1px solid scale-color($secondary-body-bg, $lightness: -10%);
		}
		p.title {
			font-family: "Roboto Condensed", sans-serif;
			font-size: 1.125rem;
			color: #333;
			~ p {
				font-size: 0.75rem;
				line-height: 1;
			}
		}
	}
	section[role="related-news"] {
		border-bottom: 1px dotted #C1C0C0;
		ul {
			li {
				p {
					font-family: "Roboto Condensed", sans-serif;
					color: #333;
				}
			}
		}
	}

	section[role="produtos"] {
		h3 {
			padding-bottom: 2rem;
			p {
				color: $body-font-color;
				text-transform: none;
				font-weight: 700;
				font-family: Arial, Helvetica, sans-serif;
			}
		}
		article.productList {
			li {
				margin-bottom: 2.125rem;
				border-bottom: 1px dotted #C1C0C0;
				padding: 0 0 2.125rem;

				div {
					padding: 0 0.8625rem;
					p {
						font-size: 0.875rem;
					}
					a:link,
					a:visited {
						padding-left: rem-calc(8);
						padding-right: rem-calc(8);
						i[class^="icon-"] {
							font-size: 1.4rem;
							vertical-align: middle;
							line-height: 0;
							margin: -0.4rem 0.2rem;
							-webkit-margin-before: -1rem; //hack pra corrigir a margem acima forçada pro FF
							display: inline-block;
						}
					}
					h4 {
						min-height: 3.875rem;
						margin-top: 0.25rem;
						line-height: 1;
						a {
							padding: 0 !important;
						}
					}
				}
			}

			&.home {
				@media #{$medium-up} {
					li {
						div {
							border-right: 1px dotted #C1C0C0;
						}
					}
					li:nth-child(4n) {
						div {
							border-right-color: transparent;
						}
					}
					li:nth-child(n+5) {
						border-bottom: none;
					}
				}
			}

			&.interna {
				@media #{$medium-up} {
					li {
						div {
							border-right: 1px dotted #C1C0C0;
						}
					}
					li:nth-child(3n) {
						div {
							border-right-color: transparent;
						}
					}
					li:nth-child(3n):nth-last-child(-n+4) ~ li {
						border-bottom: none;
					}
					// http://blog.keithclark.co.uk/targeting-first-and-last-rows-in-css-grid-layouts/
				}
			}
		}

		.btn-prods {
			background: transparent url(../images/btn_todos_produtos.png) top left;
			width: 15.25rem;
			height: 3.875rem;
			display: inline-block;
			line-height: 1;
			color: white;
			text-align: left;
			padding: 1rem 7rem 0 1rem;
			text-transform: uppercase;
			font-weight: 900;
			font-family: "Roboto Condensed", sans-serif;
		}
	}

	section[role="faq"] {
		background: $secondary-body-bg;
		padding: 1.5rem 0 0;
		margin-bottom: 0;
		div[data-interchange] {
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 12rem;
			border-radius: 6px;
			h5 {
				color: #fff;
				line-height: 1;
				padding: 0.75rem;
				background: $primary-color;
			}
			a:link,
			a:visited {
				border-radius: 0 0 6px 6px;
				position: absolute;
				display: inline-block;
				bottom: 0;
				margin: 0;
			}
		}
		fieldset {
			dl{
				i[class^="icon-"] {
					float: left;
					display: block;
					font-size: 3rem;
					margin-right: 1.5rem;
					color: scale-color($secondary-body-bg, $lightness: -10%);
				}
				dt {
					font-family: "Roboto Condensed", sans-serif;
					text-transform: uppercase;
					color: #333;
				}
				dd {
					font-size: 0.875rem;
					padding-bottom: .875rem;
					border-bottom: 1px dotted scale-color($secondary-body-bg, $lightness: -15%);
				}
			}
		}
		@media #{$medium-up} {
			min-height: 33.5rem;
			padding: 4.5rem 0;
			div[data-interchange] {
				border-radius: 6px;
				min-height: 24rem;
				padding-top: 2rem;
				display: block;
				position: relative;
				h5 {
					min-height: 4rem;
				}
			}
		}
	}

	section[role="historia"]{
		background: scale-color($secondary-color, $lightness: -35%);
		min-height: 25rem;
		padding: 2.25rem;
		margin-bottom: 0;
		p {
			font-size: 0.8125rem;
		}
		h3{
			color: white;
		}
		@media #{$small-only} {
			h3 {
				font-size: 1.6875rem;
				line-height: 1;
			}
		}
	}

	section[role="dados"] {
		background: $secondary-body-bg;
		min-height: 29.25rem;
		padding: 2.25rem;
		h3,
		h4{
			color: $body-font-color;
		}
		ul {
			list-style-type: none;
			li {
				font-size: 0.8125rem;
				&::before {
					content: "ll";
					font-size: 0.3rem;
					margin-left: -1rem;
					margin-right: 0.6rem;
					letter-spacing: -6px;
					color: $primary-color;
					vertical-align: middle;
					font-family: "sp-locadora";
				}
			}
		}
	}

	section[role="newsletter"] {
		h3 {
			color: $body-font-color;
		}
		input,
		a.button {
			min-height: 4rem;
			line-height: 4rem;
		}
		input {
			background: scale-color($secondary-body-bg, $lightness: 10%);
			font-family: "Roboto Condensed", sans-serif;
			color: $primary-color;
			font-size: 2rem;
		}
	}
}

footer {
	background: $secondary-color;
	&::before{
		content: "";
		display: block;
		min-height: 220px;
		margin-bottom: 2rem;
		background: white url("../images/bg_footer.png") center top no-repeat;
	}

	section {
		line-height: 3rem;
	}

	ul[role="siteMap"] {
		margin: 0 0 3rem 0;
		padding: 0;
		li {
			border-right: 1px dotted $body-font-color;
			&:last-child {
				border-right-width: 0;
			}
			nav {
				margin: 0;
				padding: 0;
				ul {
					list-style-type: none;
					li {
						border: 0 none;
						line-height: 1;
						margin-bottom: 0.6875rem;
						h5 {
							a:link,
							a:visited {
								color: $primary-color;
								font-size: 100%;
							}
						}
						a:link,
						a:visited {
							line-height: 1;
							font-size: 0.75rem;
							color: $body-font-color;
							transition: all 200ms ease-out;
						}
						a:hover {
							color: $secondary-body-bg;
						}
					}
				}
			}
		}
	}

	section[role="footerInfo"] {
		line-height: 1;
		margin-bottom: 1rem;
		i[class^="icon-"] {
			font-size: 2.375rem;
			display: block;
		}
		small {
			color: scale-color($body-font-color, $lightness: 65%);
			em {
				font-size: 125%;
				font-weight: 900;
				font-style: normal;
				letter-spacing: -1px;
			}
		}
		.social-icons {
			a[class^="icon-"] {
				&::before {
					background: $body-font-color;
					color: $secondary-color;
					border-radius: 2px;
					padding: 2px;
				}
			}
		}
		@media #{$small-only} {
			nav {
				ul {
					list-style-type: none;
					margin: 0;
				}
			}
			.social-icons {
				a[class^="icon-"] {
					margin-bottom: 1rem;
					width: 50%;
				}
			}
		}
	}

	section[role="copyright"] {
		&::before{
			content: "";
			display: block;
			position: absolute;
			border-top: 2px solid scale-color($secondary-color, $lightness: -15%);
			width: 100%;
			left: 0;
		}
	}

	section[role="footerNews"] {
		&::before{
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 3rem;
			left: 0;
			background: scale-color($secondary-color, $lightness: 20%);
			opacity: .6;
			box-shadow: 0 -8px 6px -6px rgba(0,0,0,.12);
		}

		em {
			color: white;
		}

		.chat {
			display: block;
			position: absolute;
			right: 2rem;
			width: 16rem;
			height: 4rem;
			margin-top: -1rem;
			background: $primary-color;
			border-radius: .5rem .5rem 0 0;
		}
	}
}