/*
## Headings and paragraphs
```
<div>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ul>
</div>

```
*/
@font-face {
  font-family: 'MinionProRegular';
  src: url('../fonts/minionpro-regular.eot');
  src: url('../fonts/minionpro-regular.eot') format('embedded-opentype'), url('../fonts/minionpro-regular.woff') format('woff'), url('../fonts/minionpro-regular.ttf') format('truetype'), url('../fonts/minionpro-regular.svg#MinionProRegular') format('svg'); }

@font-face {
  font-family: "sp-locadora";
  src: url("../fonts/sp-locadora.eot");
  src: url("../fonts/sp-locadora.eot?#iefix") format("embedded-opentype"), url("../fonts/sp-locadora.woff") format("woff"), url("../fonts/sp-locadora.ttf") format("truetype"), url("../fonts/sp-locadora.svg#sp-locadora") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "sp-locadora" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sp-locadora" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cart:before {
  content: "a"; }

.icon-chat:before {
  content: "b"; }

.icon-close:before {
  content: "c"; }

.icon-cone:before {
  content: "d"; }

.icon-doc:before {
  content: "e"; }

.icon-facebook:before {
  content: "f"; }

.icon-hamburger:before {
  content: "g"; }

.icon-home:before {
  content: "h"; }

.icon-info:before {
  content: "i"; }

.icon-lock:before {
  content: "j"; }

.icon-mail:before {
  content: "k"; }

.icon-next:before {
  content: "l"; }

.icon-paper:before {
  content: "m"; }

.icon-phone:before {
  content: "n"; }

.icon-pin:before {
  content: "o"; }

.icon-prev:before {
  content: "p"; }

.icon-search:before {
  content: "q"; }

.icon-search-toright:before {
  content: "r"; }

.icon-tractor:before {
  content: "s"; }

.icon-twitter:before {
  content: "t"; }

.icon-wrench:before {
  content: "u"; }

.icon-feed:before {
  content: "v"; }

.icon-plus:before {
  content: "w"; }

.icon-question:before {
  content: "x"; }

.icon-instagram:before {
  content: "y"; }

.icon-calendar:before {
  content: "z"; }

* {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700; }

.button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  padding-left: 3rem;
  padding-right: 3rem; }
  .button.tiny {
    padding-left: 1.625rem;
    padding-right: 1.625rem; }
  .button.button-icon {
    padding: 0 1.625rem;
    line-height: 1.8; }
    .button.button-icon i[class^="icon-"] {
      font-size: 1rem;
      margin-left: 0.4rem;
      vertical-align: middle; }

.primary {
  color: #F47C20; }

.uppercase {
  text-transform: uppercase; }

.row, .column, .wrapper {
  -webkit-transition: max-width 0.2s ease-out 1s;
  -moz-transition: max-width 0.2s ease-out 1s;
  -o-transition: max-width 0.2s ease-out 1s;
  transition: max-width 0.2s ease-out 1s; }

.vcard {
  display: block;
  border: none;
  padding: 0;
  margin: 1rem 0 0;
  color: #333; }
  .vcard p {
    line-height: 1;
    font-size: 0.875rem; }

* fieldset {
  margin: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0; }
  * fieldset legend {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
    color: #333; }
* .twitterWrapper {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 1.125rem 0.75rem;
  margin-bottom: 1rem;
  font-family: "MinionProRegular";
  text-align: center;
  line-height: 1.5;
  color: #333; }
  * .twitterWrapper a:link, * .twitterWrapper a:visited {
    color: #16aae2; }
  * .twitterWrapper::before {
    display: block;
    font-size: 2.275rem;
    margin-bottom: 1rem;
    color: #16aae2; }
  * .twitterWrapper ~ .twitterFollow {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d8d8d8; }
* div[role="megaMenu"] {
  display: none;
  position: absolute;
  z-index: 1;
  min-height: 37.75rem;
  width: 100%;
  right: 0;
  left: 0;
  margin-top: 1px;
  background: rgba(244, 124, 32, 0.92);
  box-shadow: 0 0 320px 160px #f47c20 inset; }
  * div[role="megaMenu"] h3 {
    color: #FFF;
    line-height: 5.5rem; }
    * div[role="megaMenu"] h3::before {
      font-size: 5.5rem;
      padding-right: 1rem;
      vertical-align: middle;
      color: #d2610a; }
  * div[role="megaMenu"] h5 {
    color: #FFF;
    letter-spacing: -1px;
    margin: 2.175rem 0 1rem; }
  * div[role="megaMenu"] ul {
    margin: 0;
    padding: 0; }
    * div[role="megaMenu"] ul li {
      list-style-type: none;
      line-height: 1.125; }
      * div[role="megaMenu"] ul li a:link, * div[role="megaMenu"] ul li a:visited {
        color: #ab4f08;
        font-size: 0.875rem; }

#orcamento-rapido {
  border: 1px solid #F47C20;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 2rem; }
  #orcamento-rapido #titulo {
    background: #F47C20;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    line-height: 3;
    color: #FFF; }
    #orcamento-rapido #titulo p {
      display: inline; }
  #orcamento-rapido #bts-conclusao {
    background: #F47C20;
    padding: 0 0.5rem;
    line-height: 3; }
    #orcamento-rapido #bts-conclusao a {
      margin: 0; }

#orcamento-rapido #produtos, #orcamento #produtos {
  padding: 0 0.5rem;
  margin-bottom: 1rem; }
  #orcamento-rapido #produtos .item, #orcamento #produtos .item {
    padding: 0.5rem 0;
    border-bottom: 1px dotted #dddddd; }
    #orcamento-rapido #produtos .item .controls a[class^="icon-"]:before, #orcamento #produtos .item .controls a[class^="icon-"]:before {
      font-size: 1rem;
      vertical-align: middle;
      color: #454547; }
    #orcamento-rapido #produtos .item .controls input.quantity, #orcamento #produtos .item .controls input.quantity {
      display: inline;
      margin: 0;
      width: 3rem;
      padding: 0 0 0 0.25rem; }

header div.topbar {
  height: 2.125rem;
  background: #F0F0F0;
  color: #333;
  font-weight: bold;
  text-transform: uppercase; }
  header div.topbar a:link, header div.topbar a:visited {
    color: #333;
    font-size: 0.5625rem; }
  header div.topbar ul {
    margin-bottom: 0; }
    header div.topbar ul li {
      font-size: 0.6725rem;
      line-height: 2.125rem; }
      header div.topbar ul li span {
        display: inline-block;
        color: #F47C20;
        text-transform: none;
        letter-spacing: -1px; }
header div.mainbar {
  height: 6.875rem;
  background: #454547; }
  header div.mainbar h1.logo {
    width: 10.5rem;
    height: 4.25rem;
    background: transparent url("../images/logo_saopaulolocadora_sprite.png") no-repeat;
    background-position: 0px -64px;
    background-size: cover;
    margin: 0.75rem 0;
    font-size: 0/0 a;
    color: transparent;
    text-indent: -6249rem; }
    @media only screen and (min-width:40.063em) {
      header div.mainbar h1.logo {
        width: 215px;
        height: 85px;
        background-position: 0px -80px; } }
  header div.mainbar span {
    line-height: 6.875rem;
    color: #F47C20;
    font-style: italic;
    font-weight: bold; }
    header div.mainbar span em {
      color: #b3b3b3; }
  header div.mainbar .icon-bar {
    background: transparent; }
    header div.mainbar .icon-bar .item {
      padding-top: 2.25rem;
      min-height: 6.875rem;
      transition: all 200ms ease-in 200ms; }
      header div.mainbar .icon-bar .item label {
        font-size: 0.625rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #b3b3b3; }
      header div.mainbar .icon-bar .item a:link[class^="icon-"], header div.mainbar .icon-bar .item a:visited[class^="icon-"] {
        color: #303032;
        font-size: 2rem; }
        header div.mainbar .icon-bar .item a:link[class^="icon-"]::before, header div.mainbar .icon-bar .item a:visited[class^="icon-"]::before {
          transition: all 400ms ease-out; }
      header div.mainbar .icon-bar .item a:hover::before {
        color: #b3b3b3; }
      header div.mainbar .icon-bar .item:hover {
        background: #3f3f41; }
  header div.mainbar.internas {
    background: #F47C20; }
    header div.mainbar.internas h1.logo {
      background-position: 0 0.5rem; }
    header div.mainbar.internas ~ div[role="megaMenu"] {
      margin-top: 3.75rem; }
    header div.mainbar.internas div.navbar {
      height: 6.875rem; }
      header div.mainbar.internas div.navbar li {
        line-height: 6.875rem; }
    @media only screen and (max-width: 40em) {
      header div.mainbar.internas {
        background: #454547; }
        header div.mainbar.internas h1.logo {
          background-position: 0 -4rem; } }
header div.navbar {
  height: 5.25rem;
  background: #F47C20; }
  header div.navbar nav {
    display: inline-block; }
    header div.navbar nav ul {
      display: block;
      margin: 0;
      padding: 0; }
      header div.navbar nav ul li {
        display: inline-block;
        list-style-type: none;
        line-height: 4.8125rem;
        padding-right: 1.6rem;
        vertical-align: middle; }
        header div.navbar nav ul li:last-child {
          padding-right: 0;
          vertical-align: -moz-middle-with-baseline; }
        header div.navbar nav ul li:first-of-type a {
          font-size: 1.875rem;
          line-height: 1rem; }
          header div.navbar nav ul li:first-of-type a::after {
            content: "";
            display: inline-block;
            position: relative;
            width: 0;
            height: 0;
            border-top: 6px solid white;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid transparent;
            vertical-align: middle;
            margin-left: 0.6rem;
            transition: all 250ms ease-out 100ms; }
          header div.navbar nav ul li:first-of-type a.open::after {
            border-top: 6px solid transparent;
            border-bottom: 6px solid white;
            margin-top: -6px;
            backface-visibility: hidden; }
        header div.navbar nav ul li a:link, header div.navbar nav ul li a:visited {
          color: white;
          font-weight: bold;
          text-transform: uppercase;
          font-family: "Roboto Condensed", sans-serif; }
        header div.navbar nav ul li input[type="text"] {
          min-width: 17.5rem;
          background: transparent;
          border: 2px solid #fbb04b;
          box-shadow: none;
          color: #454547;
          opacity: 0.7; }
          header div.navbar nav ul li input[type="text"]:focus {
            opacity: 1;
            box-shadow: 0 0 8px 2px rgba(251, 176, 75, 0.5);
            background: rgba(251, 176, 75, 0.25); }
          header div.navbar nav ul li input[type="text"]::-webkit-input-placeholder {
            color: #fbb04b; }
          header div.navbar nav ul li input[type="text"]::-moz-placeholder {
            color: #fbb04b; }
          header div.navbar nav ul li input[type="text"]::-ms-input-placeholder {
            color: #fbb04b; }

section[role="banner"] {
  min-height: 37.75rem; }
  section[role="banner"] .orbit-container .orbit-bullets {
    display: none; }
  section[role="banner"] .orbit-container .orbit-prev, section[role="banner"] .orbit-container .orbit-next {
    display: none; }
  section[role="banner"] .orbit-container .orbit-slides-container li {
    min-height: 37.75rem;
    background-position: 50%; }
    section[role="banner"] .orbit-container .orbit-slides-container li .orbit-caption {
      position: absolute;
      top: 40%;
      right: 6%;
      margin-top: -8rem;
      height: 16rem;
      width: 40%;
      background-color: transparent;
      color: #fff; }
      section[role="banner"] .orbit-container .orbit-slides-container li .orbit-caption h2 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 7.5rem;
        line-height: 0.8;
        word-break: break-word; }
        section[role="banner"] .orbit-container .orbit-slides-container li .orbit-caption h2 small {
          display: inline-block;
          line-height: 1;
          font-size: 50%;
          color: #F0F0F0; }
  @media only screen and (max-width: 40em) {
    section[role="banner"] {
      min-height: 26.25rem; }
      section[role="banner"] .orbit-container .orbit-bullets {
        display: block;
        position: relative;
        margin-top: -2.5rem;
        background: transparent; }
      section[role="banner"] .orbit-container .orbit-slides-container li {
        min-height: 26.25rem; }
        section[role="banner"] .orbit-container .orbit-slides-container li .orbit-caption {
          margin: auto;
          height: 40%;
          width: 74%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
          section[role="banner"] .orbit-container .orbit-slides-container li .orbit-caption h2 {
            color: #FFF;
            text-transform: uppercase;
            font-size: 5vh;
            line-height: 0.4;
            word-break: break-word; }
            section[role="banner"] .orbit-container .orbit-slides-container li .orbit-caption h2 small {
              display: inline-block;
              line-height: 1;
              font-size: 50%;
              color: #F0F0F0; } }

section[role="fixednav"] {
  min-height: 3.75rem; }
  section[role="fixednav"] div[data-magellan-expedition-clone] {
    visibility: hidden;
    display: none; }
  section[role="fixednav"] div[data-magellan-expedition] {
    padding: 0;
    position: relative;
    box-shadow: 0 12px 8px -8px rgba(0, 0, 0, 0.12); }
    section[role="fixednav"] div[data-magellan-expedition] ul li {
      background: #F0F0F0;
      line-height: 3.75rem;
      position: relative;
      font-weight: bold;
      font-size: 1.8rem;
      margin: 0 1px 0 0; }
      section[role="fixednav"] div[data-magellan-expedition] ul li a[class^="icon-"] {
        vertical-align: middle; }
      section[role="fixednav"] div[data-magellan-expedition] ul li.open, section[role="fixednav"] div[data-magellan-expedition] ul li.active {
        background: #F47C20; }
        section[role="fixednav"] div[data-magellan-expedition] ul li.open a:link, section[role="fixednav"] div[data-magellan-expedition] ul li.open a:visited, section[role="fixednav"] div[data-magellan-expedition] ul li.active a:link, section[role="fixednav"] div[data-magellan-expedition] ul li.active a:visited {
          background: transparent;
          cursor: pointer; }
          section[role="fixednav"] div[data-magellan-expedition] ul li.open a:link::before, section[role="fixednav"] div[data-magellan-expedition] ul li.open a:visited::before, section[role="fixednav"] div[data-magellan-expedition] ul li.active a:link::before, section[role="fixednav"] div[data-magellan-expedition] ul li.active a:visited::before {
            color: #fff; }
      section[role="fixednav"] div[data-magellan-expedition] ul li.disabled {
        background: #f7f7f7;
        box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.1) inset; }
        section[role="fixednav"] div[data-magellan-expedition] ul li.disabled a {
          cursor: not-allowed; }
          section[role="fixednav"] div[data-magellan-expedition] ul li.disabled a::before {
            color: #ddd;
            text-shadow: 1px 1px white; }
    section[role="fixednav"] div[data-magellan-expedition] div.budget {
      border: 1px solid #F47C20;
      border-radius: 0 0 6px 6px;
      position: absolute;
      margin-right: -1px;
      margin-top: 0.5rem;
      background: #fff;
      width: 20.75rem;
      display: none;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); }
      section[role="fixednav"] div[data-magellan-expedition] div.budget::before {
        top: -1px;
        right: -1px;
        content: "";
        height: 1rem;
        display: block;
        width: 3.75rem;
        margin-top: -0.5rem;
        position: absolute;
        background: #F47C20; }
      section[role="fixednav"] div[data-magellan-expedition] div.budget table {
        border-color: transparent;
        border-width: 0; }
        section[role="fixednav"] div[data-magellan-expedition] div.budget table thead {
          background: #F47C20; }
          section[role="fixednav"] div[data-magellan-expedition] div.budget table thead h6 {
            color: #fff; }
    section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] {
      min-height: 0; }
      section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] {
        margin-bottom: 3rem;
        padding: 0; }
        section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] div.columns nav {
          margin: 0;
          padding: 0; }
          section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] div.columns nav ul {
            list-style-type: none; }
            section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] div.columns nav ul li {
              border: 0 none;
              line-height: 0.75rem;
              background: transparent;
              margin-bottom: 0.6875rem; }
              section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] div.columns nav ul li h5 a:link, section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] div.columns nav ul li h5 a:visited {
                color: #fff;
                font-size: 100%; }
              section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] div.columns nav ul li a:link, section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] div.columns nav ul li a:visited {
                font-weight: 400;
                font-size: 0.75rem;
                color: #914307;
                transition: all 200ms ease-out; }
              section[role="fixednav"] div[data-magellan-expedition] div[role="megaMenu"] div[role="siteMap"] div.columns nav ul li a:hover {
                color: #F0F0F0; }
  @media only screen and (max-width: 40em) {
    section[role="fixednav"] {
      min-height: 0; }
      section[role="fixednav"] div[data-magellan-expedition] ul li {
        line-height: 2.875rem;
        font-size: 1rem; } }

section[role="breadcrumb"] {
  min-height: 2.25rem;
  background: #454547;
  box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.2) inset; }
  section[role="breadcrumb"] ul {
    margin: 0;
    line-height: 2.25rem; }
    section[role="breadcrumb"] ul li {
      margin-bottom: 0; }
      section[role="breadcrumb"] ul li:first-child {
        margin: 0; }
        section[role="breadcrumb"] ul li:first-child a:link, section[role="breadcrumb"] ul li:first-child a:visited {
          color: #fff; }
      section[role="breadcrumb"] ul li::after {
        color: #fff;
        content: "l";
        font-size: 0.5rem;
        font-family: "sp-locadora"; }
      section[role="breadcrumb"] ul li:last-child::after {
        display: none; }

div#content .page-header {
  margin-bottom: 2rem; }
  div#content .page-header h2 {
    text-transform: uppercase; }
    div#content .page-header h2 p {
      color: #bcbbbb;
      text-transform: none;
      font-weight: 400; }
div#content article[role="postContent"] {
  text-align: justify; }
div#content article[role="newsContent"] {
  background: #f1f1f1;
  margin-bottom: 2rem; }
  div#content article[role="newsContent"] em#authorInfo {
    line-height: 1;
    letter-spacing: 0;
    margin: 1rem 0;
    font-size: 0.8125rem;
    display: inline-block;
    color: #bcbbbb; }
    @media only screen and (min-width:40.063em) {
      div#content article[role="newsContent"] em#authorInfo {
        display: block;
        line-height: 4;
        margin-top: 0.5rem;
        margin-bottom: 0;
        letter-spacing: 1px;
        border-top: 1px dotted #ddd; } }
div#content article[role="prodContent"] h2 .lead {
  color: #787777; }
div#content article[role="prodContent"] input[type="number"] {
  margin-top: 2rem;
  height: 1.8rem;
  font-size: 0.75rem;
  padding: 0 0.75rem; }
@media only screen and (max-width: 40em) {
  div#content article[role="prodContent"] .orbit-container .orbit-bullets {
    display: inline-block; } }
@media only screen and (min-width:40.063em) {
  div#content article[role="prodContent"] .orbit-container {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dddddd; }
    div#content article[role="prodContent"] .orbit-container .orbit-bullets {
      display: none; } }
div#content article[role="prodContent"] a[data-orbit-link] {
  display: inline-block;
  position: relative;
  border: 2px solid #454547;
  opacity: 0.8;
  transition: all 200ms ease-out; }
  div#content article[role="prodContent"] a[data-orbit-link].active, div#content article[role="prodContent"] a[data-orbit-link]:hover {
    opacity: 1;
    border-color: #F47C20; }
  div#content article[role="prodContent"] a[data-orbit-link]:after {
    content: "r";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 6rem;
    text-align: center;
    line-height: 150px;
    font-family: sp-locadora;
    transition: all 200ms ease-out 150ms;
    background: #F47C20;
    opacity: 0; }
  div#content article[role="prodContent"] a[data-orbit-link]:hover:after {
    opacity: 0.7; }
  div#content article[role="prodContent"] a[data-orbit-link] ~ p {
    line-height: 1;
    margin: 1rem 0; }
div#content article[role="prodContent"] .panel-data div {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 1.25;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #dddddd; }
div#content article[role="budgetContent"] #full-product-list #products-field a[class*="icon-"] {
  padding: 0;
  font-size: 1rem;
  line-height: 2.5;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2) inset; }
div#content article[role="budgetContent"] #full-product-list #products-field .autocomplete .tt-dropdown-menu {
  min-width: 32rem; }
  div#content article[role="budgetContent"] #full-product-list #products-field .autocomplete .tt-dropdown-menu div {
    background: #F0F0F0;
    border: 1px solid #DDD;
    display: block; }
div#content article[role="budgetContent"] #locationPeriod a[class*="icon-"] {
  padding: 0;
  font-size: 1rem;
  line-height: 2.5; }
div#content aside[role="sideBar"] ul {
  padding: 0;
  margin: 0; }
  div#content aside[role="sideBar"] ul li {
    margin: 0; }
    div#content aside[role="sideBar"] ul li a[class*="icon-"]:link, div#content aside[role="sideBar"] ul li a[class*="icon-"]:visited {
      margin: 0;
      min-height: 5rem;
      color: #454547;
      text-transform: uppercase;
      padding: 1rem 0.325rem 1rem 5rem;
      transition: all 200ms ease-out 100ms;
      font-family: "Roboto Condensed", sans-serif;
      border-bottom: 0.25rem solid rgba(255, 255, 255, 0);
      background: #e4e4e4; }
      div#content aside[role="sideBar"] ul li a[class*="icon-"]:link::before, div#content aside[role="sideBar"] ul li a[class*="icon-"]:visited::before {
        position: absolute;
        left: 1rem;
        top: 0;
        bottom: 0;
        margin: auto;
        line-height: 5rem;
        font-size: 2.875rem;
        vertical-align: middle;
        color: #c0c0c0; }
    div#content aside[role="sideBar"] ul li a[class*="icon-"]:hover {
      border-bottom: 0.25rem solid rgba(255, 255, 255, 0.15);
      background: #454547;
      color: #FFF; }
      div#content aside[role="sideBar"] ul li a[class*="icon-"]:hover::before {
        color: #FFF; }
div#content section {
  margin-bottom: 4rem; }
div#content section[role="news"] {
  padding: 2rem 0;
  background: #F0F0F0;
  min-height: 30rem; }
  div#content section[role="news"] span.date {
    display: block;
    padding-top: 2rem;
    font-style: italic;
    text-transform: uppercase;
    color: #c0c0c0;
    border-top: 1px solid #d8d8d8; }
  div#content section[role="news"] p.title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.125rem;
    color: #333; }
    div#content section[role="news"] p.title ~ p {
      font-size: 0.75rem;
      line-height: 1; }
div#content section[role="related-news"] {
  border-bottom: 1px dotted #C1C0C0; }
  div#content section[role="related-news"] ul li p {
    font-family: "Roboto Condensed", sans-serif;
    color: #333; }
div#content section[role="produtos"] h3 {
  padding-bottom: 2rem; }
  div#content section[role="produtos"] h3 p {
    color: #787777;
    text-transform: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif; }
div#content section[role="produtos"] article.productList li {
  margin-bottom: 2.125rem;
  border-bottom: 1px dotted #C1C0C0;
  padding: 0 0 2.125rem; }
  div#content section[role="produtos"] article.productList li div {
    padding: 0 0.8625rem; }
    div#content section[role="produtos"] article.productList li div p {
      font-size: 0.875rem; }
    div#content section[role="produtos"] article.productList li div a:link, div#content section[role="produtos"] article.productList li div a:visited {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
      div#content section[role="produtos"] article.productList li div a:link i[class^="icon-"], div#content section[role="produtos"] article.productList li div a:visited i[class^="icon-"] {
        font-size: 1.4rem;
        vertical-align: middle;
        line-height: 0;
        margin: -0.4rem 0.2rem;
        -webkit-margin-before: -1rem;
        display: inline-block; }
    div#content section[role="produtos"] article.productList li div h4 {
      min-height: 3.875rem;
      margin-top: 0.25rem;
      line-height: 1; }
      div#content section[role="produtos"] article.productList li div h4 a {
        padding: 0 !important; }
@media only screen and (min-width:40.063em) {
  div#content section[role="produtos"] article.productList.home li div {
    border-right: 1px dotted #C1C0C0; }
  div#content section[role="produtos"] article.productList.home li:nth-child(4n) div {
    border-right-color: transparent; }
  div#content section[role="produtos"] article.productList.home li:nth-child(n+5) {
    border-bottom: none; } }
@media only screen and (min-width:40.063em) {
  div#content section[role="produtos"] article.productList.interna li div {
    border-right: 1px dotted #C1C0C0; }
  div#content section[role="produtos"] article.productList.interna li:nth-child(3n) div {
    border-right-color: transparent; }
  div#content section[role="produtos"] article.productList.interna li:nth-child(3n):nth-last-child(-n+4) ~ li {
    border-bottom: none; } }
div#content section[role="produtos"] .btn-prods {
  background: transparent url(../images/btn_todos_produtos.png) top left;
  width: 15.25rem;
  height: 3.875rem;
  display: inline-block;
  line-height: 1;
  color: white;
  text-align: left;
  padding: 1rem 7rem 0 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif; }
div#content section[role="faq"] {
  background: #F0F0F0;
  padding: 1.5rem 0 0;
  margin-bottom: 0; }
  div#content section[role="faq"] div[data-interchange] {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 12rem;
    border-radius: 6px; }
    div#content section[role="faq"] div[data-interchange] h5 {
      color: #fff;
      line-height: 1;
      padding: 0.75rem;
      background: #F47C20; }
    div#content section[role="faq"] div[data-interchange] a:link, div#content section[role="faq"] div[data-interchange] a:visited {
      border-radius: 0 0 6px 6px;
      position: absolute;
      display: inline-block;
      bottom: 0;
      margin: 0; }
  div#content section[role="faq"] fieldset dl i[class^="icon-"] {
    float: left;
    display: block;
    font-size: 3rem;
    margin-right: 1.5rem;
    color: #d8d8d8; }
  div#content section[role="faq"] fieldset dl dt {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #333; }
  div#content section[role="faq"] fieldset dl dd {
    font-size: 0.875rem;
    padding-bottom: 0.875rem;
    border-bottom: 1px dotted #cccccc; }
  @media only screen and (min-width:40.063em) {
    div#content section[role="faq"] {
      min-height: 33.5rem;
      padding: 4.5rem 0; }
      div#content section[role="faq"] div[data-interchange] {
        border-radius: 6px;
        min-height: 24rem;
        padding-top: 2rem;
        display: block;
        position: relative; }
        div#content section[role="faq"] div[data-interchange] h5 {
          min-height: 4rem; } }
div#content section[role="historia"] {
  background: #2d2d2e;
  min-height: 25rem;
  padding: 2.25rem;
  margin-bottom: 0; }
  div#content section[role="historia"] p {
    font-size: 0.8125rem; }
  div#content section[role="historia"] h3 {
    color: white; }
  @media only screen and (max-width: 40em) {
    div#content section[role="historia"] h3 {
      font-size: 1.6875rem;
      line-height: 1; } }
div#content section[role="dados"] {
  background: #F0F0F0;
  min-height: 29.25rem;
  padding: 2.25rem; }
  div#content section[role="dados"] h3, div#content section[role="dados"] h4 {
    color: #787777; }
  div#content section[role="dados"] ul {
    list-style-type: none; }
    div#content section[role="dados"] ul li {
      font-size: 0.8125rem; }
      div#content section[role="dados"] ul li::before {
        content: "ll";
        font-size: 0.3rem;
        margin-left: -1rem;
        margin-right: 0.6rem;
        letter-spacing: -6px;
        color: #F47C20;
        vertical-align: middle;
        font-family: "sp-locadora"; }
div#content section[role="newsletter"] h3 {
  color: #787777; }
div#content section[role="newsletter"] input, div#content section[role="newsletter"] a.button {
  min-height: 4rem;
  line-height: 4rem; }
div#content section[role="newsletter"] input {
  background: #f2f2f2;
  font-family: "Roboto Condensed", sans-serif;
  color: #F47C20;
  font-size: 2rem; }

footer {
  background: #454547; }
  footer::before {
    content: "";
    display: block;
    min-height: 220px;
    margin-bottom: 2rem;
    background: white url("../images/bg_footer.png") center top no-repeat; }
  footer section {
    line-height: 3rem; }
  footer ul[role="siteMap"] {
    margin: 0 0 3rem 0;
    padding: 0; }
    footer ul[role="siteMap"] li {
      border-right: 1px dotted #787777; }
      footer ul[role="siteMap"] li:last-child {
        border-right-width: 0; }
      footer ul[role="siteMap"] li nav {
        margin: 0;
        padding: 0; }
        footer ul[role="siteMap"] li nav ul {
          list-style-type: none; }
          footer ul[role="siteMap"] li nav ul li {
            border: 0 none;
            line-height: 1;
            margin-bottom: 0.6875rem; }
            footer ul[role="siteMap"] li nav ul li h5 a:link, footer ul[role="siteMap"] li nav ul li h5 a:visited {
              color: #F47C20;
              font-size: 100%; }
            footer ul[role="siteMap"] li nav ul li a:link, footer ul[role="siteMap"] li nav ul li a:visited {
              line-height: 1;
              font-size: 0.75rem;
              color: #787777;
              transition: all 200ms ease-out; }
            footer ul[role="siteMap"] li nav ul li a:hover {
              color: #F0F0F0; }
  footer section[role="footerInfo"] {
    line-height: 1;
    margin-bottom: 1rem; }
    footer section[role="footerInfo"] i[class^="icon-"] {
      font-size: 2.375rem;
      display: block; }
    footer section[role="footerInfo"] small {
      color: #d0cfcf; }
      footer section[role="footerInfo"] small em {
        font-size: 125%;
        font-weight: 900;
        font-style: normal;
        letter-spacing: -1px; }
    footer section[role="footerInfo"] .social-icons a[class^="icon-"]::before {
      background: #787777;
      color: #454547;
      border-radius: 2px;
      padding: 2px; }
    @media only screen and (max-width: 40em) {
      footer section[role="footerInfo"] nav ul {
        list-style-type: none;
        margin: 0; }
      footer section[role="footerInfo"] .social-icons a[class^="icon-"] {
        margin-bottom: 1rem;
        width: 50%; } }
  footer section[role="copyright"]::before {
    content: "";
    display: block;
    position: absolute;
    border-top: 2px solid #3b3b3c;
    width: 100%;
    left: 0; }
  footer section[role="footerNews"]::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3rem;
    left: 0;
    background: #69696d;
    opacity: 0.6;
    box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.12); }
  footer section[role="footerNews"] em {
    color: white; }
  footer section[role="footerNews"] .chat {
    display: block;
    position: absolute;
    right: 2rem;
    width: 16rem;
    height: 4rem;
    margin-top: -1rem;
    background: #F47C20;
    border-radius: 0.5rem 0.5rem 0 0; }
